#gamefield
  #opponent_card
  .between_players
    .deck_container
      #deck
      #trump
    #table
      .cards-stack
        .card.cards-diamondsq.attack-card
        .card.cards-diamondsq.defense-card
      .cards-stack
        .card.cards-diamondsq.attack-card
        .card.cards-diamondsq.defense-card
      .cards-stack
        .card.cards-diamondsq.attack-card
        .card.cards-diamondsq.defense-card
  #hand