@import "compass";
@import "cards/*.png";
@include all-cards-sprites;

@mixin card {
  display: inline;
  float: left;
  height: 107px;
  width: 75px;
  text-align: center;
  margin: 2px;
}

@mixin card_container {
  display: inline-block;
  width: 100%;
  margin: 10px;
}

.card {
  @include card;
}

#deck {
  @include card;
  @include cards-sprite(backblue-1);
}

#hand {
  @include card_container
}

.between_players {
  @include card_container;
}