// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin card {
  display: inline;
  float: left;
  height: 107px;
  width: 75px;
  text-align: center;
  margin: 2px;
}

@mixin card_container {
  display: inline-block;
  width: 100%;
  margin: 10px;
}

.card {
  @include card;
}

#deck {
  @include card;
  background: asset_data_url("cards/back-red-75-1.png");
}

#hand {
  @include card_container
}

.between_players {
  @include card_container
}